@import url(http://fonts.googleapis.com/css?family=Roboto:400);
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* --------------------------------------------------------------------------
 Px -> EM Conversion
 (Reference about why media queries should be in EM - http://bit.ly/1l1EGHy)
 -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 App Styles
 -------------------------------------------------------------------------- */
body, html {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif; }

body {
  background: url("../img/bg.jpg") no-repeat center top fixed;
  background-size: cover;
  /* The url is relative to the document, not to the css file! */
  /* Prefer absolute urls to avoid confusion. */
  -ms-behavior: url(../backgroundsize.min.htc);
  font-size: 16px; }

.app_wrapper {
  padding: 1em 0 0;
  background-color: rgba(255, 255, 255, 0.9); }
  .app_wrapper header, .app_wrapper .about {
    padding: 0 1em; }
  .app_wrapper header {
    padding-bottom: 1em;
    border-bottom: 0.5em solid #c53232; }
    .app_wrapper header .description h1 {
      margin: 0;
      color: #454545; }
  .app_wrapper .logo {
    margin-top: 1em;
    max-width: 150px;
    width: 100%;
    min-width: 80px; }
  .app_wrapper .content_main {
    background: url("../img/kauffman_sm.jpg") no-repeat center top;
    background-size: cover; }
  .app_wrapper .about, .app_wrapper .emailSignup {
    border-bottom: 0.1em solid white; }
  .app_wrapper .about {
    padding: 1em 0 0; }
    .app_wrapper .about p {
      font-size: 1.75em;
      color: #444;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 1em;
      margin: 0; }
  .app_wrapper .emailSignup {
    padding: 2em 0;
    background: rgba(255, 255, 255, 0.6); }
    .app_wrapper .emailSignup h1 {
      font-weight: bold;
      text-align: center;
      color: #454545;
      font-size: 3.1em;
      margin-bottom: 0.5em;
      text-shadow: 0 0 0.25em rgba(255, 255, 255, 0.5); }
    .app_wrapper .emailSignup .btn {
      color: #fff;
      background: #2f63a9; }
    .app_wrapper .emailSignup .invalidEmail {
      padding: 0.25em 1em;
      font-size: 1em; }
    .app_wrapper .emailSignup .has-warning .form-control {
      border-color: #2f63a9; }
  .app_wrapper .engage .col {
    text-align: center;
    padding: 6em 0; }
  .app_wrapper .engage a {
    display: block;
    color: #333; }
  .app_wrapper .engage .fa {
    position: relative;
    font-size: 5.25em;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.5em;
    width: 2.2em;
    height: 2.2em;
    border-radius: 1.25em;
    border: 1px solid #fff;
    transition: all 0.4s ease; }
    .app_wrapper .engage .fa:hover {
      cursor: pointer;
      background: white;
      text-shadow: 0 0 0.1em #999999; }
    .app_wrapper .engage .fa:after {
      position: absolute;
      content: 'pickles';
      display: block;
      font-size: 0.2em;
      margin-top: 0.5em;
      text-align: center;
      width: 100%;
      left: 0; }
  .app_wrapper .engage .socialShare .fa:after {
    content: 'Share Us'; }
  .app_wrapper .engage .downloadPDF .fa:after {
    content: 'Overview PDF'; }
  .app_wrapper .engage .storyShare .fa:after {
    content: 'Share a Story'; }
  .app_wrapper footer {
    padding: 0.5em 0;
    text-align: center;
    background: #333;
    color: #999; }

@media (max-width: 47.5em) {
  .app_wrapper {
    margin: 1em; }
    .app_wrapper header .logo {
      display: block;
      margin: 0 auto;
      width: 25%;
      margin-bottom: 1em; }
    .app_wrapper header .description {
      text-align: center; }
    .app_wrapper .content_main {
      background-image: url("../img/kauffman_mb.jpg"); }
    .app_wrapper .about p {
      font-size: 1.25em;
      text-align: center; }
    .app_wrapper .engage {
      padding: 2em 0; }
      .app_wrapper .engage .col {
        padding: 2em 0; }
      .app_wrapper .engage .fa {
        background: rgba(255, 255, 255, 0.9); }
        .app_wrapper .engage .fa:hover {
          font-size: 5.5em; } }
@media (min-width: 47.5em) {
  .app_wrapper {
    max-width: 1000px;
    width: 75%;
    min-width: 600px;
    margin: auto; } }
.feedback {
  padding-top: 4em;
  padding-bottom: 4em; }
  .feedback .error {
    margin-top: 0.5em;
    color: #105c74;
    background-color: orange;
    padding: 0.25em;
    width: 100%; }
  .feedback .messageWrap {
    margin-top: 1em; }
  .feedback #message {
    padding: 1em;
    text-align: center;
    background: #39bbe4; }
    .feedback #message * {
      color: #105c74; }
    .feedback #message h1 {
      font-family: arial, helvetica, sans-serif;
      font-style: 2em; }
    .feedback #message .loader {
      margin-right: 0.5em; }
  .feedback h1 {
    color: #f0f0f0; }
  .feedback p {
    color: #cacaca;
    line-height: 135%;
    font-size: 1.5em; }
  .feedback .btn {
    margin-top: 0.75em;
    background: orange; }
    .feedback .btn:hover {
      background: #cc8400; }
  .feedback label {
    margin-top: 1em;
    display: block;
    text-align: left; }
  .feedback .feedback-inputWrap {
    margin: 2em 0; }
  .feedback .feedback-userInput {
    resize: none;
    height: 7.5em;
    width: 100%; }

/*
 * -------------------------------------------
 *	$_MISC
 * -------------------------------------------
 */
body.modal-open {
  margin: 0 !important; }

.invalidEmail {
  position: relative;
  font-size: 0.75em;
  background-color: orange;
  color: #fff;
  font-family: arial, helvetica, sans-serif; }

.modal {
  padding-top: 5%; }

.has-warning .form-control,
.has-warning .form-control:focus {
  border: 2px solid orange; }

.modal-title span {
  color: orange; }

.modal-content {
  text-align: center;
  background: white url(../img/brandmark_kcinit.png) right center;
  background-size: 100%;
  border-radius: 0;
  border: 1px solid #1d5b6a;
  padding-bottom: 1em; }
  .modal-content h1 {
    margin-bottom: 0.25em; }
  .modal-content label {
    display: block; }
  .modal-content input {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%; }
  .modal-content .btn {
    margin-top: 0.5em;
    background: #2f63a9;
    color: #fff; }
  .modal-content .btn-close {
    float: left;
    background: #000; }
  .modal-content #mc-embedded-subscribe {
    float: right; }

.modal-confirmation {
  display: none; }
  .modal-confirmation .btn-close {
    width: 100%; }

.modal-header {
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  background-color: rgba(20, 20, 20, 0.8);
  color: #eee;
  border-bottom: 1px solid #1d5b6a; }

.modal-body {
  background: transparent;
  padding-bottom: 0;
  padding-top: 0.5em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .app_wrapper .emailSignup:before,
.clearfix:after,
.app_wrapper .emailSignup:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .app_wrapper .emailSignup:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, .app_wrapper .emailSignup {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

 /*
* Don't show links for images, or javascript/internal links
*/
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
